@font-face {
	font-family: 'SamsungOne';
	font-style: normal;
	font-weight: 400;
	src: local('SamsungOne'), local('SamsungOne-Regular'),
		url('https://d3unf4s5rp9dfh.cloudfront.net/public/fonts/SamsungOne-400.woff')
			format('woff'),
		url('https://d3unf4s5rp9dfh.cloudfront.net/public/fonts/SamsungOne-400.woff2')
			format('woff2');
}

@font-face {
	font-family: 'SamsungOne';
	font-style: normal;
	font-weight: 600;
	src: local('SamsungOne'), local('SamsungOne-600'),
		url('/fonts/SamsungOne-600.woff') format('woff'),
		url('/fonts/SamsungOne-600.woff2') format('woff2');
}

@font-face {
	font-family: 'SamsungOne';
	font-style: normal;
	font-weight: 700;
	src: local('SamsungOne'), local('SamsungOne-Bold'),
		url('https://d3unf4s5rp9dfh.cloudfront.net/public/fonts/SamsungOne-700.woff')
			format('woff'),
		url('https://d3unf4s5rp9dfh.cloudfront.net/public/fonts/SamsungOne-700.woff2')
			format('woff2');
}

@font-face {
	font-family: 'SamsungSharpSans-Bold';
	font-style: normal;
	font-weight: 700;
	font-display: fallback;
	src: local('SamsungSharpSans-Bold'),
		url('https://d3unf4s5rp9dfh.cloudfront.net/public/fonts/SamsungSharpSans-Bold.woff')
			format('woff'),
		url('https://d3unf4s5rp9dfh.cloudfront.net/public/fonts/SamsungSharpSans-Bold.woff2')
			format('woff2');
}
html{                                                                                
  font-family: "SamsungOne", 'Helvetica Neue', 'sans-serif';                         
}

body{                                                                                
  font-family: "SamsungOne", 'Helvetica Neue', 'sans-serif';                         
}

.btn{                                                                                
  font-family: "SamsungOne", 'Helvetica Neue', 'sans-serif';                         
}                                                                                    
                                                                                     
.sidebar{                                                                            
  font-family: "SamsungOne", 'Helvetica Neue', 'sans-serif';                         
}                                                                                    
                                                                                     
legend{                                                                              
  font-family: "SamsungOne", 'Helvetica Neue', 'sans-serif';                         
}                                                                                    
                                                                                     
.rst-versions{                                                                       
  font-family: "SamsungOne", 'Helvetica Neue', 'sans-serif';                         
}  
